[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyGObject = "*"
pyparsing = "*"
attrs = "*"
cattrs = "*"
pyyaml = "*"
typing-extensions = "*"
pycairo = "*"
exceptiongroup = "*"
pygobject-stubs = "*"

[dev-packages]
PyGObject-stubs = "*"
mypy = "*"
types-pyyaml = "*"

[requires]
# python_version = "3.10"
